<app-header titulo="Configuración"></app-header>

<ion-content class="ion-padding" [fullscreen]="true">

 <ion-list fixed>
  <ion-item>
    
        <ion-button fill="outline" shape="round"  (click)="apartamentos()">
          <ion-icon slot="end"  name="storefront-outline"></ion-icon>
        Apartamentos
        </ion-button>
     
  </ion-item>
  <ion-item>
    
        <ion-button fill="outline" shape="round"  (click)="cerraduras()">
          <ion-icon slot="end"  name="key-outline"></ion-icon>
        Cerraduras
        </ion-button>
    
  </ion-item>
 </ion-list>
    
      
    

 
</ion-content>