<div class="alojamiento">

  <ion-item lines="none">
    <ion-label>
      <H3>Proyecto ArduKey</H3>
      <H5>3º de DAM</H5>
    </ion-label>
    <!-- <ion-icon slot="end" name="star-sharp"></ion-icon> -->
  </ion-item>

  <ion-slides mode="ios" pager="true" scrollbar="true">
    <ion-slide>
      <img src="/assets/perro-1.jpg">
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <ion-buttons slot="end">
      <ion-button (click)="reservar()">
        <ion-icon slot="icon-only" name="calendar-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <!-- <ion-item lines="none">
    <ion-icon slot="start" name="calendar-sharp"></ion-icon>
    <ion-icon slot="start" name="earth-sharp"></ion-icon>
    <ion-icon slot="end" name="share-social-sharp"></ion-icon>
  </ion-item> -->

</div>